.container {
    height: 100%;
    margin-left: 100px;
    margin-top: 30px;
    background-color: rgb(222, 206, 206);
}

.search {
    width: 95%;
    padding: 30px 0px 0px 50px;
}

.inputS {
    height: 40px;
    width: 80%;
    /* margin: 10px; */
    border-radius: 5px;
}

.view {
    margin-top: 30px;
}

.view-list {
    width: 65%;
    margin-left: 30px;
}

.view-detail {
    width: 20%;
    margin-left: 30px;
}

table {
    width: 750px;
}

.detail {
    width: 400px;
    height: 50px;