.list {
    background-color: #f2f2f2;
    padding: 8px 16px;
    border-radius: 3px;
}

.container-avaiable {
    margin: 3px auto;
    width: 100%;
    background-color: transparent;
}

.room {
    border-radius: 5px;
    background-color: #f2f2f2;
}

.p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-room-detail {
    width: 80%;
    margin-left: 13%;
    margin-right: 13%;
}

.room-detail {
    margin-left: 10%;
    margin-right: 10%;
    width: 50%;
    height: 150px;
    border-radius: 5px;
    padding: 10px;
    background-color: #f2f2f2;
}

.btn {
    background-color: #04aa6d;
    color: white;
    padding: 12px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
}

.search-gruop {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.welcome {
    /* font-family:sans-serif; */
    font-weight: bolder;
    font-size: large;
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
}

.img-table {
    width: 310px;
    height: 233px;
    margin-right: 13px;
    padding: 10px;
}