.category-img {
    padding: 10px;

}

.room-type {
    margin-left: 50px;
}

.p-content-home {
    text-align: center;
    padding: 5px;
}

.p-content-long {
    text-align: left;
    margin-left: 50px;
}

.p-head-home {
    font-weight: bold;
    padding: 3px;
}

.table-home {
    margin-left: 30px;
}

.img-table {
    width: 410px;
    height: 233px;
    margin-right: 13px;
}

.welcome {
    /* font-family:sans-serif; */
    font-weight: bolder;
    font-size: large;
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
}

.bookinghotel-background {
    width: 100%;
    height: 30vh;
    background-image:
        linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(51, 224, 213, 0.2));
    /* url(https://images.unsplash.com/photo-1625244724120-1fd1d34d00f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWxzfGVufDB8fDB8fA%3D%3D&w=1000&q=80); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.box-contain {
    margin-left: 50px;
    margin-right: 50px;
    background-color: blanchedalmond;
}